<!-- <div id="sideBar">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white">
    <a href="/home" class="d-flex align-items-center text-white text-decoration-none">
      <div id="title">POLITIK</div>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/home" class="nav-link" aria-current="page">
          <i class="fa-solid fa-house"></i>
          Home
        </a>
      </li>
      <li>
        <a href="/home" class="nav-link">
          <i class="fa-solid fa-magnifying-glass"></i>
          Explora
        </a>
      </li>
      <li>
        <a href="/home" class="nav-link ">
          <i class="fa-regular fa-bell"></i>
          Notificaciones
        </a>
      </li>
      <li>
        <a href="/profile" class="nav-link ">
          <i class="fa-regular fa-user"></i>
          Perfil
        </a>
      </li>
    </ul>
    <hr>
    <button class="btn btn-primary" id="postBtn">Post</button>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="profile photo" width="42" height="42" class="rounded-circle me-3">
        <div id="username">
          <div class="name"><h5>Name xxxxxx</h5></div>
          <div><h5>@username</h5></div>
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="/start">Sign out</a></li>
      </ul>
    </div>
  </div>
</div> -->


<div id="sideBar">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white">
    <a routerLink="/home" class="d-flex align-items-center text-white text-decoration-none">
      <div id="title">POLITIK</div>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active-link" class="nav-link">
          <i class="fa-solid fa-house"></i>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/explore" routerLinkActive="active-link" class="nav-link">
          <i class="fa-solid fa-magnifying-glass"></i>
          Explora
        </a>
      </li>
      <li>
        <a routerLink="/notifications" routerLinkActive="active-link" class="nav-link">
          <i class="fa-regular fa-bell"></i>
          Notificaciones
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active-link" class="nav-link">
          <i class="fa-regular fa-user"></i>
          Perfil
        </a>
      </li>
    </ul>
    <hr>
    <button class="btn btn-primary" id="postBtn">Post</button>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="profile photo" width="42" height="42" class="rounded-circle me-3">
        <div id="username">
          <div class="name"><h5>Name xxxxxx</h5></div>
          <div><h5>@username</h5></div>
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" routerLink="/start">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>
