<div id="content">
  <main>
    <div id="imgProfile">
      <a routerLink="/profile">
        <img src="https://github.com/mdo.png" alt="profile photo" width="42" height="42" class="rounded-circle me-3">
      </a>
    </div>
    <div id="data">
      <div id="header">
        <div id="name">name</div>
        <div id="username">@username</div>
        <div id="date">·&nbsp;&nbsp;&nbsp;2h</div>
        <div id="btnHeader"><button class="btn btn-dark"><i class="fa-solid fa-ellipsis"></i></button></div>
      </div>
      <div id="text">Este es el texto de mi primer Post, para probar como se vería :P</div>
      <div id="media">
        <img src="../../../assets/images/fotoPost.jpg" alt="foto Post" height="auto">
      </div>
    </div>
  </main>
  <footer>
    <div id="btns">
      botones
    </div>
  </footer>
</div>
