<form #formSignup="ngForm" (ngSubmit)="saveData(formSignup)">
  <div *ngIf="!showSecondPart">
    <button id="closeBtn" mat-button (click)="closeDialog()"><i class="fa-solid fa-xmark"></i></button>
    <div class="title">
      <h1>POLITIK</h1>
    </div>
    <h3 class="description">Crea tu cuenta</h3>
    <div class="form-group" [class.invalid]="formSignup.controls['name'] && formSignup.controls['name'].invalid && formSignup.controls['name'].touched" [class.invalid]="formSignup.controls['name'] && formSignup.controls['name'].invalid && formSignup.controls['name'].touched">
      <input type="text" id="name" name="name" class="form-control" placeholder="" [(ngModel)]="userData.name" required>
      <label for="name">Nombre</label>
    </div>
    <div *ngIf="formSignup.controls['name'] && formSignup.controls['name'].invalid && formSignup.controls['name'].touched" class="error-message">
      Nombre obligatorio
    </div>
    <div class="form-group" [class.invalid]="formSignup.controls['lastname'] && formSignup.controls['lastname'].invalid && formSignup.controls['lastname'].touched">
      <input type="text" id="lastname" name="lastname" class="form-control" placeholder="" [(ngModel)]="userData.lastname" required>
      <label for="lastname">Apellidos</label>
    </div>
    <div *ngIf="formSignup.controls['lastname'] && formSignup.controls['lastname'].invalid && formSignup.controls['lastname'].touched" class="error-message">
      Apellido obligatorio
    </div>
    <!-- or phone or email -------------------------->
    <div *ngIf="!showUseEmailDiv" class="form-group" id="formGroupPhone" [class.invalid]="formSignup.controls['phone'] && formSignup.controls['phone'].invalid && formSignup.controls['phone'].touched">
      <input type="number" id="phone" name="phone" class="form-control" placeholder="" [(ngModel)]="userData.phone" required>
      <label for="phone">Teléfono</label>
    </div>
    <div *ngIf="formSignup.controls['phone'] && formSignup.controls['phone'].invalid && formSignup.controls['phone'].touched" class="error-message">
      Teléfono obligatorio
    </div>
    <div *ngIf="phoneExists && formSignup.controls['phone'] && formSignup.controls['phone'].touched" class="error-message">
      Ups! El teléfono ya está registrado...
    </div>
    <div *ngIf="!showUseEmailDiv" id="btnUseMail">
      <small (click)="useEmail()">usar email</small>
    </div>

    <div *ngIf="showUseEmailDiv" class="form-group" id="formGroupPhone" [class.invalid]="formSignup.controls['email'] && formSignup.controls['email'].invalid && formSignup.controls['email'].touched">
      <input type="email" id="email" name="email" class="form-control" placeholder="" [(ngModel)]="userData.email" required>
      <label for="email">Correo electrónico</label>
    </div>
    <div *ngIf="formSignup.controls['email'] && formSignup.controls['email'].invalid && formSignup.controls['email'].touched" class="error-message">
      Email obligatorio
    </div>
    <div *ngIf="emailExists && formSignup.controls['email'] && formSignup.controls['email'].touched" class="error-message">
      Ups! El Email ya está registrado...
    </div>
    <div *ngIf="showUseEmailDiv" id="btnUseMail">
      <small (click)="usePhone()">usar teléfono</small>
    </div>
    <!-- end phone/email ---------------------------->

    <div class="btn-container">
      <button type="button" class="btn btn-primary" (click)="checkUser(formSignup)">Siguiente</button>
    </div>
    <div class="register-link">
      <small>¿Ya tienes una cuenta? <a (click)="goToStart()" routerLink="">Inicia sesión</a></small>
    </div>
  </div>
  <!-- Second Part ------------------------------------------------------------------------------------------>
  <div *ngIf="showSecondPart">
    <button id="closeBtn" mat-button (click)="closeDialog()"><i class="fa-solid fa-xmark"></i></button>
    <div class="title">
      <h1>POLITIK</h1>
    </div>
    <h3 class="description">Nombre de usuario y contraseña</h3>
    <div class="form-group" [class.invalid]="formSignup.controls['birthday'] && formSignup.controls['birthday'].invalid && formSignup.controls['birthday'].touched">
      <input type="date" id="birthday" name="birthday" class="form-control" [(ngModel)]="userData.birthday" required>
      <label for="birthday">Fecha de nacimiento</label>
    </div>
    <div *ngIf="formSignup.controls['birthday'] && formSignup.controls['birthday'].invalid && formSignup.controls['birthday'].touched" class="error-message">
      Fecha de nacimiento obligatoria
    </div>
    <div class="form-group" [class.invalid]="formSignup.controls['username'] && formSignup.controls['username'].invalid && formSignup.controls['username'].touched">
      <input type="text" id="username" name="username" class="form-control" placeholder="" [(ngModel)]="userData.username" required>
      <label for="username">Nombre de usuario</label>
    </div>
    <div *ngIf="formSignup.controls['username'] && formSignup.controls['username'].invalid && formSignup.controls['username'].touched" class="error-message">
      Nombre de usuario obligatorio
    </div>
    <div class="form-group" id="formGroupPassword" [class.invalid]="formSignup.controls['password'] && formSignup.controls['password'].invalid && formSignup.controls['password'].touched">
      <div>
        <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" class="form-control" placeholder="" [(ngModel)]="userData.password" required>
        <label for="password">Contraseña</label>
      </div>
      <div id="eye">
        <i (click)="togglePassword()" class="fa" [ngClass]="{'fa-eye-slash': showPassword, 'fa-eye': !showPassword}"></i>
      </div>
    </div>
    <div *ngIf="formSignup.controls['password'] && formSignup.controls['password'].invalid && formSignup.controls['password'].touched" class="error-message">
      Contraseña obligatoria
    </div>
    <div class="btn-container">
      <button type="submit" class="btn btn-primary">Crear cuenta</button>
      <button class="btn btn-secondary" (click)="goBack()">Volver</button>
    </div>
    <div class="register-link">
      <small>¿Ya tienes una cuenta? <a (click)="goToStart()" routerLink="">Inicia sesión</a></small>
    </div>
  </div>
</form>
